# Ignorar node_modules para evitar cópias desnecessárias
node_modules
npm-debug.log
yarn-error.log

# Ignorar dependências locais
*.log
*.env
.env.local
.env.development
.env.production
.env.test

# Ignorar arquivos de build
dist
build
coverage

# Ignorar configurações de IDEs e sistemas operacionais
.vscode
.idea
.DS_Store
Thumbs.db

# Ignorar cache do Prisma
prisma/.cache
